<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>MyFeature</string>
	<key>Description</key>
	<string>This generates a new feature using Viper architecture. It consists of the: View, Presenter, Router, Interactor &amp; Factory</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the feature to create</string>
			<key>Identifier</key>
			<string>featureName</string>
			<key>Name</key>
			<string>New Feature Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_featureName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_featureName:identifier___Contract</string>
			<key>Description</key>
			<string>The contract name</string>
			<key>Identifier</key>
			<string>contractName</string>
			<key>Name</key>
			<string>Contract Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_featureName:identifier___Factory</string>
			<key>Description</key>
			<string>The factory name</string>
			<key>Identifier</key>
			<string>factoryName</string>
			<key>Name</key>
			<string>Factory Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_featureName:identifier___Presenter</string>
			<key>Description</key>
			<string>The presenter name</string>
			<key>Identifier</key>
			<string>presenterName</string>
			<key>Name</key>
			<string>Presenter Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_featureName:identifier___Router</string>
			<key>Description</key>
			<string>The router name</string>
			<key>Identifier</key>
			<string>routerName</string>
			<key>Name</key>
			<string>Router Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_featureName:identifier___ViewController</string>
			<key>Description</key>
			<string>The view controller name</string>
			<key>Identifier</key>
			<string>viewControllerName</string>
			<key>Name</key>
			<string>View Controller Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_featureName:identifier___Interactor</string>
			<key>Description</key>
			<string>The interactor name</string>
			<key>Identifier</key>
			<string>interactorName</string>
			<key>Name</key>
			<string>Interactor Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_featureName:identifier___DataSourceContract</string>
			<key>Description</key>
			<string>The data source contract name</string>
			<key>Identifier</key>
			<string>dataSourceContractName</string>
			<key>Name</key>
			<string>Data Source Contract Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_featureName:identifier___CloudDataSource</string>
			<key>Description</key>
			<string>The cloud data source name</string>
			<key>Identifier</key>
			<string>cloudDataSourceName</string>
			<key>Name</key>
			<string>Cloud Data Source Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_featureName:identifier___LocalDataSource</string>
			<key>Description</key>
			<string>The local data source name</string>
			<key>Identifier</key>
			<string>localDataSourceName</string>
			<key>Name</key>
			<string>Local Data Source Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_featureName:identifier___Repository</string>
			<key>Description</key>
			<string>The repository name</string>
			<key>Identifier</key>
			<string>repositoryName</string>
			<key>Name</key>
			<string>Repository Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>0</string>
	<key>Summary</key>
	<string>This generates a new feature using VIPER architecture.</string>
</dict>
</plist>
